---
import Begivenhedsmap from "../components/BegivenhedsMap.astro";
import Layout from "../layouts/Layout.astro";
import Cards from "../components/Card.astro";
import Lokalomraade from "../components/Lokalomraade.astro";
import "../ccs/global.css";
---


<html>
  <body>
    <Layout>
    <Begivenhedsmap/>
    <Cards/>
    <Lokalomraade/>
    </Layout>
  </body>
</html>