---
import Events from "../components/Events.astro";
import Faq from "../components/Faq.astro";
import Guide from "../components/Guide.astro";
import Hero from "../components/Hero.astro";
import Kort from "../components/Kort.astro";
import Plakat from "../components/Plakat.astro";
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
import Vindue from "../components/Vindue.astro";
import "../ccs/global.css";
---

<html>
  <body>
    <Layout>
      <Hero />
      <Guide />
      <Vindue />
      <Video />
      <Plakat />
      <Kort />
      <Events />
      <Faq />
    </Layout>
  </body>
</html>
