---
import Faq from "../components/Faq.astro";
import MedlemBanner from "../components/MedlemBanner.astro";
import MembershipSection from "../components/MembershipSection.astro";
import AmbassadorSection from "../components/AmbassadorSection.astro";
import Layout from "../layouts/Layout.astro";
import "../ccs/global.css";
---

<html>
  <body>
    <Layout>
      <MedlemBanner />
      <MembershipSection />
      <AmbassadorSection />
      <Faq />
    </Layout>
  </body>
</html>
