<div class="cards">
 
  <div class="card">
    <img src="/billeder/Ribe-Lineart.webp" alt="stregtegning af by">
    <h3>Ribe</h3>
    <button> <a href="/singleview">Se events og tilmeld dig</a></button>
  </div>

  <div class="card">
    <img src="/billeder/Fredericia-Lineart.webp" alt="Stregtegning af by">
    <h3>Fredericia</h3>
    <button> <a href="/singleview">Se events og tilmeld dig</a></button>
  </div>

<div class="card">
    <img src="/public/billeder/Ringkøbing-Lineart.webp" alt="Stregtegning af by">
    <h3>Ringkøbing</h3>
    <button> <a href="/singleview">Se events og tilmeld dig</a></button>
  </div>

  <div class="card">
    <img src="/public/billeder/Roskilde-Lineart.webp" alt="Stregtegning af by">
    <h3>Roskilde</h3>
    <button> <a href="/singleview">Se events og tilmeld dig</a></button>
  </div>

  <div class="card">
    <img src="/public/billeder/Lyngby-Lineart.webp" alt="Stregtegning af by">
    <h3>Lyngby</h3>
    <button> <a href="/singleview">Se events og tilmeld dig</a></button>
  </div>

  <div class="card">
    <img src="/public/billeder/Nørrebro-Lineart.webp" alt="Stregtegning af by">
    <h3>Nørrebro</h3>
    <button> <a href="/singleview">Se events og tilmeld dig</a></button>
  </div>

  <div class="card">
    <img src="/public/billeder/AAU-Lineart.webp" alt="Stregtegning af by">
    <h3>AAU København</h3>
    <button> <a href="/singleview">Se events og tilmeld dig</a></button>
  </div>


</div>



<style>
  .cards {
    display: flex;
    gap: 3rem;
    overflow-x: auto;
    -ms-overflow-style: none; /* Fjerner visuel scrollbar */
    scrollbar-width: none;  /* Fjerner visuel scrollbar */
    padding: 1rem;
    background-color:  #fefde9 ;
    margin: auto 0 auto 4rem;
  }
  .card {
    flex: 0 0 200px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .card img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  .card h3 {
    margin: .75rem 0 .5rem;
    font-size: 1.1rem;
    text-align: center;
  }
  .card button {
    padding: .5rem 1rem;
    border: none;
    border-radius: 6px;
    background: rgba(80, 110, 92, 1);
    cursor: pointer;
    margin-top: auto;
  }
  .card button:hover {
    background: rgb(60, 82, 69);
  }
  a{
    text-decoration: none;
    color: #fefde9;
  }
</style>


