---
const faqs = [
  {
    question: "Hvilken slags tøj kan man låne?",
    answer:
      "I vores garderober finder du et stort udvalg af tøj, fra afslappet hverdagstøj til festtøj - fra mange forskellige brands - alt fra Ganni, Stine Goya, Bitte Kai Rand, Marc Jacobs, Gestuz, H&M, Arket osv. Vi har medlemmer i alle aldre og størrelser, så der er noget for enhver smag!      Ønsket er, at give nyt liv til tøj, der ellers ikke bliver brugt. Derfor er alt tøj velkomment, så længe det er i god stand. Vi bygger vores tøjfællesskab på tillid og garderoberne har altid flotte items af god kvalitet.",
  },
  {
    question: "Er der forskellige størrelser?",
    answer:
      "Ja, vi har tøj i alle størrelser, og vi lægger stor vægt på at dele-tøjet matcher forskellige størrelser, smag og stilarter. Cirka 70% af tøjet kommer fra vores medlemmer, hvilket betyder, at der er en bred vifte af personlige stilarter repræsenteret. For at sikre, at vi har noget til alle, supplerer vi med 30% af tøjet, så der altid er et godt udvalg i størrelser fra XS til XL, og noget for enhver smag.",
  },
  {
    question: "Får jeg mit eget udlånte tøj tilbage igen?",
    answer:
      "Ja, det gør du! Når du melder dig ind i Another Closet, afleverer du 3 stykker tøj, som går ind i vores fællesgarderobe og cirkuleres. Disse stykker tøj tilhører stadig dig, og du har mulighed for at få dem tilbage, når du ønsker det og bytte dem ud med noget andet du ønsker at låne ud. Når du beslutter dig for at melde dig ud af Another Closet, får du naturligvis dit tøj tilbage. Så du kan altid føle dig tryg ved, at dit tøj er i gode hænder, mens du nyder fordelene ved at være medlem.",
  },
  {
    question: "Hvad hvis noget går i stykker?",
    answer:
      "Det er heldigvis meget sjældent, at et stykke tøj ikke kan repareres og fortsat bruges. Derfor afsætter vi 10 kr. af dit abonnement til vedligeholdelse og reparationer. Skulle uheldet være ude, finder vi altid en løsning mellem de involverede parter – og i sidste ende dækker Another Closet tabet, hvis det er nødvendigt.",
  },
  {
    question: "Må jeg tage en ven med til event selvom han ikke er medlem?",
    answer:
      "Ja, man er altid velkommen til at medbringe en ven eller familiemedlem til vores events.",
  },
  {
    question: "Skal jeg tilmelde mig events på forhånd?",
    answer:
      "Det er ikke et krav, men vi sætter stor pris på, at du tilmelder dig – så har vi en idé om, hvor mange der kommer, og kan planlægge lidt bedre.",
  },

  {
    question: "Hvad hvis jeg ikke kan komme til en salon?",
    answer:
      "Det er helt naturligt, at du ikke kan deltage i alle saloner – og det er selvfølgelig helt i orden. Har du ikke mulighed for at komme til en salon, så beholder du blot tøjet en ekstra måned, og bytter det til næste salon. Er du tilknyttet garderoben i København er der altid åbent for at komme forbi mellem kl 10.00 og 17.00 og bytte tøjet.  Er du tilknyttet garderoben i Roskilde har du mulighed for at lave en aftale på mail eller instagram og besøge dit lokale klædeskab og bytte dit tøj der. Vær dog opmærksom på, at udvalget vil være mindre end til salonerne, så vi anbefaler at prioritere salonerne for at få det bedste udvalg.",
  },
  {
    question: "Skal jeg have erfaring for at blive ambassadør?",
    answer:
      "Nej, så længe du har et drive og er klar på at gå all ind i vores fælleskab, så behøver du ingen tidligere erfaring.",
  },
];
---

<style>
  .faq-container {
    background-color: #506e5c;
    padding: 1rem;
  }

  h2 {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  .faq-item {
    background-color: #f2f1ed;

    margin-bottom: 0.8rem;
    padding: 0.3rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    position: relative;
    transition: background 0.2s;
  }

  .faq-item:hover {
    background-color: #e5e5e0;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    margin-bottom: 0.5rem;
    line-height: 25px;
    color: #333;
  }

  .faq-item.active .faq-answer {
    max-height: 200px;
  }

  .plus {
    font-size: 2.5rem;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

  .faq-item.active .plus {
    transform: rotate(45deg); /* plus bliver til et kryds */
  }
  @media screen and (min-width: 768px) {
    .faq-container {
      padding: 4rem;
    }
    .faq-question {
      font-size: 1.4rem;
    }
    .faq-item {
      margin-bottom: 1.1rem;
    }

    h2 {
      font-size: 3.8rem;
      margin-bottom: 3.5rem;
    }
  }
</style>

<div class="faq-container">
  <h2>Ofte stillede spørgsmål</h2>
  {
    faqs.map((faq, i) => (
      <div class="faq-item" onclick={`this.classList.toggle('active')`}>
        <div class="faq-question">
          <span>{faq.question}</span>
          <span class="plus">+</span>
        </div>
        <div class="faq-answer">{faq.answer}</div>
      </div>
    ))
  }
</div>
