<div class="text">
    <h2>Er dit lokalområde ikke på listen?</h2>
    <p>Vær med til at starte et tøjfællesskab for dig og dine naboer</p>
    <a href="/medlem" class="button">Bliv ambassadør</a>
    
</div>

<img src="/public/billeder/dashed-line.webp" alt="">

<style>
    
    body{
        background-color: #fefde9;
    }

   img{
    display: none;
   } 
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    position: relative;
    margin: 5rem auto 5rem auto;

}

.button{
    padding: 0.5em 3em;
    margin-top: 1rem;
    background-color: #f6451a ;
    border: none;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: larger;
}

 @media (min-width: 768px) {
    img{
    display: block;
    position: absolute;
    left: 60%;
    width: 10cqw;
    top: 160%;
}
 }

</style>