<section>
<img class="line" src="/public/billeder/plakater/line.png" alt="" />
<div class="posters">
  <img src="/billeder/plakater/plakat1.webp" alt="plakat1" />
  <img src="/public/billeder/plakater/plakat2.webp" alt="plakat2" />
  <img class="hide" src="/public/billeder/plakater/plakat3.webp" alt="plakat3" />
  <img class="hide" src="/public/billeder/plakater/plakat4.webp" alt="plakat4" />
</div>
</section>

<style>
  section {
    background-color: #fefde9;
    z-index: 2;
    height: 400px;
  }

  .line {
    margin-top: 1rem;
    width: 100%;
  }

  .posters {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto 5rem;
    top: -4rem;
  }
  .posters img:hover {
    /* scale up slightly */
    transform: scale(1.25);
    z-index: 3; /* bring hovered poster above its neighbors */
  }

  .hide {
    display: none;
  }
  /* Mobile-first default (applies everywhere unless overridden) */
  .posters img {
    width: 30%; /* or whatever mobile size you want */
    height: auto;
  }
  @media (min-width: 768px) {
    .hide {
      display: inline-block;
    }

    .posters img {
      width: 12%; /* only posters shrink to 12% on desktop */
    }
  }
</style>
