<section>
  <img class="line" src="/billeder/plakater/line.png" alt="" loading="lazy" />
  <div class="posters">
    <a href="/Nørrebro"><img src="/billeder/plakater/plakat1.webp" alt="Nørrebroplakat" loading="lazy" /></a>
    <a href="/Ribe"><img src="/billeder/plakater/plakat2.webp" alt="Ribeplakat" loading="lazy" /></a>
    <a href="/Fredericia" class="hide"><img src="/billeder/plakater/plakat3.webp" alt="Fredericiaplakat" loading="lazy" /></a>
    <a href="/Roskilde" class="hide"><img src="/billeder/plakater/plakat4.webp" alt="Roskildeplakat" loading="lazy" /></a>
  </div>
</section>

<style>
  section {
    background-color: #fefde9;
    z-index: 2;
  }

  .line {
    margin-top: 1rem;
    width: 100%;
  }

  .posters {
    display: flex;
    justify-content: center;

    gap: 3rem;
    margin: 0 auto;
    padding: 0 1rem;
    top: -1.7rem;
    position: relative;
  }

  .posters img {
    width: clamp(8rem, 15vw, 12.5rem); /* min: 8rem (128px), max: 12.5rem (200px) */
    height: auto;
    transition: transform 0.2s ease;
  }

  .posters img:hover {
    transform: scale(1.25);
    z-index: 3;
  }

  .hide {
    display: none;
  }

  @media (min-width: 768px) {
    .hide {
      display: inline-block;
    }
    .posters {
      gap: 5rem;
    }
  }
</style>
