
<!-- Dette Vindue komponent tillader at vi ser vores vidoeo som ligger bag vores andre komponenter, som en slags vindue -->
<section>
</section>

<style>
    section{
        display: none;
    }
     @media (min-width: 768px) {
    section{
        display: block;
        height: 550px;
    }}
</style>