
<!-- Dette Vindue komponent tillader at vi ser vores vidoeo som ligger bag vores andre komponenter, som en slags vindue -->
<section>
</section>

<style>
    section{
        height: 550px;
    }
</style>